.app-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.header span {
  padding-left: 2.5rem;
}

.main-container {
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
  margin-right: 3rem;
  height: calc(100vh - 80px);
}

.sidenav {
  width: 150px;
  margin: 1rem;
}

.season-title {
  margin: 8px;
}

.title-link a {
  color: #fff;
  outline: none;
  text-decoration: none;
}